{{#if options}}{{#each options}}
                    <label>
                        <input
                            type="checkbox"
                            name="{{../name}}[]"
                            value="\{\{value\}\}"
                            \{\{#in value ../item.{{../name}}\}\}checked\{\{/in\}\} />
                        <span>{{label}}</span>
                    </label>
{{/each}}{{else}}
                    <input type="hidden" name="{{name}}" value="0" />
                    <input type="checkbox" name="{{name}}" value="1"\{\{#if item.{{name}}\}\} checked\{\{/if\}\} />
{{~/if}}
