
                    <div data-do="image-field"
                        data-name="{NAME}"
                        data-width="0|200"
                        data-height="0|200"
                        data-label="original|small"
                        data-display="small"
                        data-multiple="1"
                        data-alt="Change this Photo"
                        class="image-field multiple">
                            {{#if item.{NAME}}}
                                {{#each item.{NAME}}}
                                    <input type="hidden" name="{{item.{NAME}}}[{{@index}}][original]" value="{{original}}" />
                                    <input type="hidden" name="{{item.{NAME}}}[{{@index}}][small]" value="{{small}}" />
                                    <img alt="Change this Photo" width="200" src="{{small}}" />
                                {{/each}}
                            {{else}}
                                <img alt="Upload a Photo" width="200" class="placeholder" src="/images/default-image.png" />
                            {{/if}}
                    </div>
