<div
                        data-do="image-field"
                        data-name="{{name}}"
                        data-width="200"
                        data-height="200"
                        data-display="small"
                        data-alt="Change this Photo"
                        class="image-field multiple center pad form-control">
                            \{\{#if item.{{name}}\}\}
                                <input type="hidden" name="{{name}}" value="\{\{item.{{name}}\}\}" />
                                <img alt="Change this Photo" width="200" height="200" src="\{\{item.{{name}}\}\}" />
                            \{\{else\}\}
                                <img alt="Upload a Photo" width="200" class="placeholder" height="200" src="{{config 'cdn'}}/images/icon/icon-add-image.png" />
                            \{\{/if\}\}
                    </div>
