
                    <div data-do="meta-field" class="meta-field">
                            {{#each item.{NAME}}}
                                <div class="meta">
                                    <input type="text" class="meta-input key" placeholder="{{_ 'Name'}}" value="{{@key}}" />
                                    <input type="text" class="meta-input value" placeholder="{{_ 'Value'}}" value="{{this}}" />
                                    <input type="hidden" name="{NAME}[@key]" value="{{this}}"
                                    <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
