
                    <div data-do="tag-field" class="tag-field" data-name="{NAME}">
                        {{#each item.{NAME}}}
                            <div class="tag">
                                <input type="text" class="tag-input text-field" name="{NAME}[]" placeholder="{{_ 'Add Tag'}}" value="{{this}}" />
                                <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                            </div>
                        {{/each}}
                    </div>
