    {{~#when this '===' 'now'}}
        $data['{{../name}}'] = date('Y-m-d H:i:s');
    {{~/when}}{{#when this '===' 'date'}}
        if(isset($data['{{../name}}'])) {
            $data['{{../name}}'] = date('Y-m-d', strtotime($data['{{../name}}']));
        }
    {{~/when}}{{#when this '===' 'time'}}
        if(isset($data['{{../name}}'])) {
            $data['{{../name}}'] = date('H:i:s', strtotime($data['{{../name}}']));
        }
    {{~/when}}{{#when this '===' 'datetime'}}
        if(isset($data['{{../name}}'])) {
            $data['{{../name}}'] = date('Y-m-d H:i:s', strtotime($data['{{../name}}']));
        }
    {{~/when}}{{#when this '===' 'json_encode'}}
        if(isset($data['{{../name}}'])) {
            $data['{{../name}}'] = json_encode($data['{{../name}}']);
        }
    {{~/when}}{{#when this '===' 'unique'}}
        $data['{{../name}}'] = md5(uniqid());
    {{~/when}}
