{{#when format.search.0 '===' 'date'~}}
\{\{date {{name}} 'Y-m-d'\}\}
{{~else~}}
{{#when format.search.0 '===' 'time'~}}
\{\{date {{name}} 'H:i:s'\}\}
{{~else~}}
{{#when format.search.0 '===' 'datetime'~}}
\{\{date {{name}} 'Y-m-d H:i:s'\}\}
{{~else~}}
{{#when format.search.0 '===' 'shortdate'~}}
\{\{date {{name}} 'M d'\}\}
{{~else~}}
{{#when format.search.0 '===' 'shorttime'~}}
\{\{date {{name}} 'GA'\}\}
{{~else~}}
{{#when format.search.0 '===' 'nicedate'~}}
\{\{date {{name}} 'F d, Y'\}\}
{{~else~}}
{{#when format.search.0 '===' 'nicetime'~}}
\{\{date {{name}} 'G:i A'\}\}
{{~else~}}
{{#when format.search.0 '===' 'comma'~}}
\{\{implode {{name}} ','\}\}
{{~else~}}
{{#when format.search.0 '===' 'json_encode'~}}
\{\{tojson {{name}}\}\}
{{~else~}}
{{#when format.search.0 '===' 'json_encode_pretty'~}}
\{\{tojson {{name}} 1\}\}
{{~else~}}
{{#when format.search.0 '===' 'bool'~}}
\{\{#if {{name}}\}\}Yes\{\{else\}\}No\{\{/if\}\}
{{~else~}}
{{#when format.search.0 '===' 'price'~}}
\{\{number {{name}} 2\}\}
{{~else~}}
{{#when format.search.0 '===' 'number'~}}
\{\{number {{name}}\}\}
{{~else~}}
{{#when format.search.0 '===' 'image'~}}
<img width="100" src="\{\{ {{name}}.original\}\}" />
{{~else~}}
{{#when format.search.0 '===' 'smallimage'~}}
<img width="100" src="\{\{ {{name}}.small\}\}" />
{{~else~}}
{{#when format.search.0 '===' 'images'~}}
<img width="100" src="\{\{ {{name}}.0.original\}\}" />
{{~else~}}
{{#when format.search.0 '===' 'smallimages'~}}
<img width="100" src="\{\{ {{name}}.0.small\}\}" />
{{~else~}}
{{#when format.search.0 '===' 'url'~}}
<a href="\{\{ {{name}}\}\}">\{\{ {{name}}\}\}</a>
{{~else~}}
\{\{ {{name}}\}\}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when}}
{{~/when~}}
