<div class="container">
	<div class="top clearfix">
        <div class="left pull-left">
            <div>
                <div class="logo pull-left"><img src="/images/logo-square.png" /></div>
                <div class="title">Cradle PHP</div>
                <ul>
                    <li><a href="https://github.com/CradlePHP/Cradle">GitHub</a></li>
                    <li><a href="https://packagist.org/packages/cradlephp/cradle">Packagist</a></li>
                </ul>
            </div>
        </div>

        <div class="middle pull-right">
            <ul>
                <li><a href="https://cradlepphp.github.io/docs/intro.html">Getting Started</a></li>
                <li><a href="https://cradlepphp.github.io/docs/install.html">Install</a></li>
                <li><a href="https://cradlepphp.github.io/docs/intro.html">Documentation</a></li>
            </ul>
        </div>


    </div>
    <div class="masthead">
    	<center class="copy">
            <a href="https://travis-ci.org/CradlePHP/framework"><img src="https://travis-ci.org/CradlePHP/framework.svg?branch=master" alt="Travis CI" style="max-width:100%;"></a>
            <a href='https://coveralls.io/github/CradlePHP/framework?branch=master'><img src='https://coveralls.io/repos/github/CradlePHP/framework/badge.svg?branch=master' alt='Coverage Status' /></a>
            <a href="https://packagist.org/packages/cradlephp/framework"><img src="https://poser.pugx.org/cradlephp/framework/v/stable" alt="Latest Stable Version"  style="max-width:100%;"></a>
            <a href="https://packagist.org/packages/cradlephp/framework"><img alt="Total Downloads" src="https://poser.pugx.org/cradlephp/framework/downloads" style="max-width:100%;"></a>
            <a href="https://packagist.org/packages/cradlephp/framework"><img alt="Latest Unstable Version" src="https://poser.pugx.org/cradlephp/framework/v/unstable" style="max-width:100%;"></a>
            <a href="https://packagist.org/packages/cradlephp/framework"><img alt="License" src="https://poser.pugx.org/cradlephp/framework/license" style="max-width:100%;"></a>
            <br /><br />&copy; CradlePHP 2016
        </center>
    </div>
</div>
