<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img alt="Cradle PHP" src="/images/logo-long.png"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="javascript:voud(0);"
                   id="navbarDropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   title="Choose Your Language"
                   aria-expanded="false">{{i18n}} <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-item"><a title="Chinese" href="/can_CN{{page.meta.path}}">Catonese</a></li>
                    <li class="dropdown-item"><a title="English" href="/en_US{{page.meta.path}}">English</a></li>
                    <li class="dropdown-item"><a title="French" href="/fr_FR{{page.meta.path}}">French</a></li>
                    <li class="dropdown-item"><a title="Chinese" href="/cmn_CN{{page.meta.path}}">Mandarin</a></li>
                    <li class="dropdown-item"><a title="Spanish" href="/es_ES{{page.meta.path}}">Spanish</a></li>
                    <li class="dropdown-item"><a title="Filipino" href="/tl_PH{{page.meta.path}}">Tagalog</a></li>
                    <li class="dropdown-item"><a title="Thai" href="/th_TH{{page.meta.path}}">Thai</a></li>
                    <li class="dropdown-item"><a title="Filipino" href="/ceb_PH{{page.meta.path}}">Visaya</a></li>
                </ul>
            </li>
            {{#session 'me'}}
            <li class="nav-item">
                <a href="/account?redirect_uri={{../page.meta.path}}" class="btn text-info nav-link">
                {{_ 'Account Settings'}}
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout?redirect_uri={{../page.meta.path}}" class="btn text-danger nav-link">
                {{_ 'Logout'}}
                </a>
            </li>
            {{else}}
            <li class="nav-item"><a class="nav-link" href="/login?redirect_uri={{page.meta.path}}">{{_ 'Login'}}</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup?redirect_uri={{page.meta.path}}">{{_ 'Signup'}}</a></li>
            {{/session}}
        </ul>
    </div>
</nav>
