<!-- START: Auth Account Page -->
<div class="auth-change-body auth-form container">
    <!-- START: Auth Account Panel -->
    <div class="panel panel-default clear">
        <!-- START: Panel Head -->
        <div class="panel-heading brand">
            <div class="panel-title">
                <center>{{> 'Account Settings'}}</center>
            </div>
        </div>
        <!-- END: Panel Head -->
        <!-- START: Panel Body -->
        <div class="panel-body">
            <!-- START: Auth Account Form -->
            <form
                method="post"
                {{#if cdn_config}}
                    data-do="cdn-upload"
                    data-on="submit"
                    data-progress="{{_ 'We are uploading your files. Please do not refresh page.'}}"
                    data-complete="{{_ 'Upload Complete'}}"
                    data-enctype="{{cdn_config.form.enctype}}"
                    data-method="{{cdn_config.form.method}}"
                    data-action="{{cdn_config.form.action}}"
                    data-cdn="{{cdn_config.form.action}}"
                    data-acl="{{cdn_config.inputs.acl}}"
                    data-key="{{cdn_config.inputs.key}}"
                    data-credential="{{cdn_config.inputs.X-Amz-Credential}}"
                    data-algorythm="{{cdn_config.inputs.X-Amz-Algorithm}}"
                    data-date="{{cdn_config.inputs.X-Amz-Date}}"
                    data-policy="{{cdn_config.inputs.Policy}}"
                    data-signature="{{cdn_config.inputs.X-Amz-Signature}}"
                {{/if}}
                >
                <!-- START: Profile Image -->
                <div class="form-group{{#if errors.profile_image}} has-error{{/if}}">
                    <div
                        data-do="image-field"
                        data-name="profile_image"
                        data-width="200"
                        data-height="200"
                        data-alt="Change this Photo"
                        class="image-field">
                        {{#if item.profile_image}}
                            <img width="200" src="{{item.profile_image}}" />
                            <input type="hidden" name="profile_image" value="{{item.profile_image}}" />
                        {{else}}
                            <img width="200" src="/images/default-avatar.png" />
                        {{/if}}

                        {{#if errors.profile_image}}
                        <center class="help-text">{{errors.profile_image}}</center>
                        {{/if}}
                    </div>
                </div>
                <!-- END: Profile Image -->
                <!-- START: Profile Name -->
                <div class="form-group{{#if errors.profile_name}} has-error{{/if}}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class = "fa fa-user"></i></span>
                        <input type="text" name="profile_name" placeholder="{{_ 'Name'}}" class="form-control" value="{{item.profile_name}}" />
                    </div>
                    {{#if errors.profile_name}}
                    <span class="help-text">{{errors.profile_name}}</span>
                    {{/if}}
                </div>
                <!-- END: Profile Name -->
                <!-- START: Profile Email -->
                <div class="form-group{{#if errors.profile_email}} has-error{{/if}}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class = "fa fa-envelope"></i></span>
                        <input type="email" name="profile_email" placeholder="{{_ 'Email'}}" class="form-control" value="{{item.profile_email}}" />
                    </div>
                    {{#if errors.profile_email}}
                    <span class="help-text">{{errors.profile_email}}</span>
                    {{/if}}
                </div>
                <!-- END: Profile Email -->
                <!-- START: Auth Password -->
                <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class = "fa fa-lock"></i></span>
                        <input type="password" name="auth_password" placeholder ="{{_ 'Password'}}" class="form-control" value="{{item.auth_password}}" />
                    </div>
                    {{#if errors.auth_password}}
                    <span class="help-text">{{errors.auth_password}}</span>
                    {{/if}}
                </div>
                <!-- END: Auth Password -->
                <!-- START: Confirm Password -->
                <div class="form-group{{#if errors.confirm}} has-error{{/if}}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class = "fa fa-lock"></i></span>
                        <input type="password" name="confirm" placeholder="{{_ 'Confirm'}}" class="form-control" value="{{item.confirm}}" />
                    </div>
                    {{#if errors.confirm}}
                    <span class="help-text">{{errors.confirm}}</span>
                    {{/if}}
                </div>
                <!-- END: Confirm Password -->
                <!-- START: Form Submit -->
                <div class="form-group">
                    <input type="hidden" name="csrf" value="{{csrf}}" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- END: Form Submit -->
            </form>
            <!-- END: Auth Account Form -->
        </div>
        <!-- END: Panel Body -->
    </div>
    <!-- END: Auth Account Panel -->
</div>
<!-- END: Auth Account Page -->

<script type="text/javascript" src="/scripts/cropper.js"></script>
