<div class="panel panel-default clear" >
    <div class="panel-heading brand">
        <div class="panel-title">\{\{title\}\}</div>
    </div>

    <div class="panel-body" >
        <form enctype="multipart/form-data" method="post">
            {{#each fields}}{{#if form}}
            <div class="form-group\{\{#if errors.{{@key}}\}\} has-error\{\{/if\}\}">
                <label class="control-label">{{form.label}}</label>
                <div>
                    {{#noop~}}
                    {{~#when form.type '==' 'input'~}}
                    <input name="{{name}}" value="\{\{ item.{{name}}\}\}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}} />
                    {{~/when}}

                    {{~#when form.type '==' 'textarea'~}}
                    <textarea name="{{name}}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}>\{\{\{item.{{name}}\}\}\}</textarea>
                    {{~/when}}

                    {{~#when form.type '==' 'select'~}}
                    <select name="{{name}}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}>
                        {{~#each form.options}}
                        <option value="{{@key}}"\{\{#when ../item.{{../name}} '==' '{{@key}}'\}\} selected\{\{/when\}\}>{{this}}</option>
                        {{~/each}}
                    </select>
                    {{~/when}}

                    {{~#when form.type '==' 'checkbox'}}
                    <input type="hidden" name="{{name}}" value="0" />
                    <input type="checkbox" name="{{name}}" value="1"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#if item.{{name}}\}\} checked\{\{/if\}\} />
                    {{~/when}}

                    {{~#when form.type '==' 'radio'}}
                    <input type="hidden" name="{{name}}" value="0" />
                    <input type="radio" name="{{name}}" value="1"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#if item.{{name}}\}\} checked\{\{/if\}\} />
                    {{~/when}}

                    {{~#when form.type '==' 'checkboxes'}}
                        {{~#each form.options}}
                    <label>
                        <input type="checkbox" name="{{../name}}[]" value="{{this}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#in value ../item.{{../name}}\}\}checked\{\{/in\}\} />
                        <span>{{@key}}</span>
                    </label>
                        {{~/each}}
                    {{~/when}}

                    {{~#when form.type '==' 'radios'}}
                        {{~#each form.options}}
                    <label>
                        <input type="radio" name="{{../name}}" value="{{this}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#when ../item.{{../name}} '==' '{{@key}}'\}\} checked\{\{/when\}\} />
                        <span>{{@key}}</span>
                    </label>
                        {{~/each}}
                    {{~/when}}

                    {{~#when form.type '==' 'button'}}
                    <button name="{{../name}}[]" value="{{this}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#in value ../item.{{../name}}\}\}checked\{\{/in\}\}>{{this}}</button>
                    {{~/when}}

                    {{~#when form.type '==' 'inline'}}
                    {{{form.code}}}
                    {{~/when}}

                    {{~/noop}}

                    \{\{#if errors.{{@key}}\}\}
                    <span class="help-text">\{\{errors.{{@key}}\}\}</span>
                    \{\{/if\}\}
                </div>
            </div>
            {{/if}}{{/each}}

            <div class="clear form-group">
                <input type="hidden" name="csrf" value="{{csrf}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/scripts/cropper.js"></script>
