<div class="panel panel-default clear" >
    <div class="panel-heading brand">
        <div class="panel-title">\{\{title\}\}</div>
    </div>

    <div class="panel-body" >
        <form {{#if has_file}}
            enctype="multipart/form-data"
            method="post"
            \{\{#if cdn_config\}\}
                data-do="cdn-upload"
                data-on="submit"
                data-progress="We are uploading your files. Please do not refresh page."
                data-complete="Upload Complete"
                data-enctype="\{\{cdn_config.form.enctype\}\}"
                data-method="\{\{cdn_config.form.method\}\}"
                data-action="\{\{cdn_config.form.action\}\}"
                data-cdn="\{\{cdn_config.form.action\}\}"
                data-acl="\{\{cdn_config.inputs.acl\}\}"
                data-key="\{\{cdn_config.inputs.key\}\}"
                data-credential="\{\{cdn_config.inputs.X-Amz-Credential\}\}"
                data-algorythm="\{\{cdn_config.inputs.X-Amz-Algorithm\}\}"
                data-date="\{\{cdn_config.inputs.X-Amz-Date\}\}"
                data-policy="\{\{cdn_config.inputs.Policy\}\}"
                data-signature="\{\{cdn_config.inputs.X-Amz-Signature\}\}"
            \{\{/if\}\}
        {{else}}enctype="multipart/form-data" method="post"{{/if}}>
            {{#each fields}}{{#if form}}
            <div class="form-group\{\{#if errors.{{@key}}\}\} has-error\{\{/if\}\}">
                <label class="control-label">{{form.label}}</label>
                <div>
                    {{#noop~}}
                    {{~#when form.type '==' 'input'~}}
                    <input name="{{name}}" value="\{\{ item.{{name}}\}\}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}} />
                    {{~/when}}

                    {{~#when form.type '==' 'textarea'~}}
                    <textarea name="{{name}}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}>\{\{\{item.{{name}}\}\}\}</textarea>
                    {{~/when}}

                    {{~#when form.type '==' 'select'~}}
                    <select name="{{name}}"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}>
                        {{~#each form.options}}
                        <option value="{{@key}}"\{\{#when item.{{../name}} '==' '{{@key}}'\}\} selected\{\{/when\}\}>{{this}}</option>
                        {{~/each}}
                    </select>
                    {{~/when}}

                    {{~#when form.type '==' 'checkbox'}}
                    <input type="hidden" name="{{name}}" value="0" />
                    <input type="checkbox" name="{{name}}" value="1"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#if item.{{name}}\}\} checked\{\{/if\}\} />
                    {{~/when}}

                    {{~#when form.type '==' 'radio'}}
                    <input type="hidden" name="{{name}}" value="0" />
                    <input type="radio" name="{{name}}" value="1"{{#if form.attributes}}{{#each form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#if item.{{name}}\}\} checked\{\{/if\}\} />
                    {{~/when}}

                    {{~#when form.type '==' 'checkboxes'}}
                        {{~#each form.options}}
                    <label>
                        <input type="checkbox" name="{{../name}}[]" value="{{@key}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#in value item.{{../name}}\}\}checked\{\{/in\}\} />
                        <span>{{this}}</span>
                    </label>
                        {{~/each}}
                    {{~/when}}

                    {{~#when form.type '==' 'radios'}}
                        {{~#each form.options}}
                    <label>
                        <input type="radio" name="{{../name}}" value="{{@key}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#when item.{{../name}} '==' '{{@key}}'\}\} checked\{\{/when\}\} />
                        <span>{{this}}</span>
                    </label>
                        {{~/each}}
                    {{~/when}}

                    {{~#when form.type '==' 'button'}}
                    <button name="{{../name}}[]" value="{{this}}"{{#if form.attributes}}{{#each ../form.attributes}} {{@key}}="{{this}}"{{/each}}{{/if}}\{\{#in value ../item.{{../name}}\}\}checked\{\{/in\}\}>{{this}}</button>
                    {{~/when}}

                    {{~#when form.type '==' 'inline'}}
                    {{{form.code}}}
                    {{~/when}}

                    {{~/noop}}

                    \{\{#if errors.{{@key}}\}\}
                    <span class="help-text">\{\{errors.{{@key}}\}\}</span>
                    \{\{/if\}\}
                </div>
            </div>
            {{/if}}{{/each}}

            <div class="clear form-group">
                <input type="hidden" name="csrf" value="{{csrf}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/scripts/cropper.js"></script>
