<h3>\{\{title\}\}</h3>

<div class="clearfix">
    <!-- START: SEARCH FORM -->
    <form class="pull-right search form-inline" method="get">
        <div class="form-group">
            <input name="q" placeholder="Search" type="text"
            value="\{\{q\}\}" class="form-control" />
        </div>
        <button class="btn"><i class="fa fa-search"></i></button>
    </form>
    <!-- END: SEARCH FORM -->

    <span>
        <a class="btn btn-success" href="/admin/{{name}}/create">
            <i class="fa fa-plus"></i>
            Create New {{capital name}}
        </a>
    </span>
</div>

<!-- START: BULK FORM -->
<form method="post" class="form-inline bulk-form pad-vertical">
    <div class="panel panel-default clear">
        <div class="panel-body" >
            \{\{#if rows\}\}
                <div class="table-overflow">
                    <!-- START: TABLE -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{_ 'Actions'}}</th>
                                {{~#each fields}}{{#if list}}
                                <th>{{list.label}}</th>
                                {{~/if}}{{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            \{\{#each rows\}\}
                            <tr data-id="\{\{ {{primary}}\}\}">
                                <td>
                                    {{~#if active}}
                                    \{\{#when {{active}} '==' 1\}\}
                                    <a title="Edit" href="/admin/{{name}}/update/\{\{ {{primary}}\}\}">
                                    <i class="fa fa-edit"></i></a>
                                    &nbsp;
                                    <a title="Remove" href="/admin/{{name}}/remove/\{\{ {{primary}}\}\}"
                                    class="text-danger remove"><i class="fa fa-times"></i></a>
                                    \{\{/when\}\}
                                    \{\{#when {{active}} '==' 0\}\}
                                    <a title="Restore" href="/admin/{{name}}/restore/\{\{ {{primary}}\}\}" class="text-success restore">
                                    <i class="fa fa-external-link"></i></a>
                                    \{\{/when\}\}
                                    {{~else~}}
                                    <a title="Edit" href="/admin/{{name}}/update/\{\{ {{primary}}\}\}">
                                    <i class="fa fa-edit"></i></a>
                                    &nbsp;
                                    <a title="Remove" href="/admin/{{name}}/remove/\{\{ {{primary}}\}\}"
                                    class="text-danger remove"><i class="fa fa-times"></i></a>
                                    {{~/if}}
                                </td>
                                {{~#each fields}}{{#if list}}
                                <td>
                                    {{~#when list.format '===' 'date'}}
                                    \{\{date {{name}} '{{list.parameters}}'\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'length'}}
                                    \{\{char_length {{name}} '{{list.parameters}}'\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'words'}}
                                    \{\{word_length {{name}} '{{list.parameters}}'\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'link'}}
                                    <a href="{{list.parameters.href}}"{{#if list.parameters.target}} target="{{list.parameters.target}}"{{/if}}>\{\{ {{name}}\}\}</a>
                                    {{~/when}}

                                    {{~#when list.format '===' 'image'}}
                                    <img src="\{\{ {{name}}\}\}"{{#if list.parameters.0}} width="{{list.parameters.0}}"{{/if}}{{#if list.parameters.1}} height="{{list.parameters.1}}"{{/if}} />
                                    {{~/when}}

                                    {{~#when list.format '===' 'email'}}
                                    <a href="mailto:\{\{ {{name}}\}\}">\{\{ {{name}}\}\}</a>
                                    {{~/when}}

                                    {{~#when list.format '===' 'phone'}}
                                    <a href="tel:\{\{ {{name}}\}\}">\{\{ {{name}}\}\}</a>
                                    {{~/when}}

                                    {{~#when list.format '===' 'capital'}}
                                    \{\{capital {{name}}\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'implode'}}
                                    \{\{implode {{name}} '{{list.parameters}}'\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'upper'}}
                                    \{\{toupper {{name}}\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'lower'}}
                                    \{\{tolower {{name}}\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'noop'}}
                                    \{\{ {{name}}\}\}
                                    {{~/when}}

                                    {{~#when list.format '===' 'inline'}}
                                    {{{list.code}}}
                                    {{~/when}}
                                </td>
                                {{~/if}}{{/each}}
                            </tr>
                            \{\{/each\}\}
                        </tbody>
                    </table>
                    <!-- END: TABLE -->
                </div>
            \{\{else\}\}
                <!-- START: NO RESULTS -->
                <div class="well no-results">{{_ 'No Results Found'}}</div>
                <!-- END: NO RESULTS -->
            \{\{/if\}\}
        </div>
    </div>

    <ul class="pagination">
        \{\{#pagination total range\}\}
        <li\{\{#if active\}\} class="active"\{\{/if\}\}><a href="?\{\{href\}\}">\{\{page\}\}</a></li>
        \{\{/pagination\}\}
    </ul>
</form>
