<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="test/bootstrap.php"
>
    <testsuites>
        <testsuite name="Kitchen Sink App Core Tests">
            <file>test/Service.php</file>
            <file>test/Validator.php</file>
        </testsuite>
        <testsuite name="Kitchen Sink App Core Model Tests">
            <file>test/Model/App.php</file>
            <file>test/Model/Auth.php</file>
            <file>test/Model/Comment.php</file>
            <file>test/Model/Product.php</file>
            <file>test/Model/Profile.php</file>
            <file>test/Model/Session.php</file>
            <file>test/Model/Term.php</file>
        </testsuite>
        <testsuite name="Kitchen Sink App Core Job Tests">
            <file>test/job/app.php</file>
            <file>test/job/auth.php</file>
            <file>test/job/comment.php</file>
            <file>test/job/product.php</file>
            <file>test/job/profile.php</file>
            <file>test/job/review.php</file>
            <file>test/job/session.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
        </whitelist>
    </filter>
</phpunit>
